$title-ff:Roboto,sans-serif;
$body-ff:'Raleway', sans-serif;
$btn-ff:'Open Sans', sans-serif;

$body-color:#b07cf7;
$primary-color:#f72b3b;
$secondary-color:#fff;

$body-bg:$secondary-color;

$border-width:1px;